<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <footer class="footer-distributed">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-left">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.127065887374!2d109.17910527467964!3d12.239674688012457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d98873c6e19%3A0xed5d5d4168807021!2zVHLGsOG7nW5nIFRIQ1MgTmd1eeG7hW4gSGnhu4FuIE5oYSBUcmFuZw!5e0!3m2!1svi!2s!4v1716883395211!5m2!1svi!2s"
            width="450"
            height="300"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>

          <p class="footer-company-name">Company Name © 2024</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-center">
          <div>
            <i class="bx bx-map"></i>
            <p>
              <span>38A Lê Hồng Phong, Phước Tân</span> Nha Trang, Khánh Hòa
            </p>
          </div>
          <div>
            <i class="bx bx-phone"></i>
            <p>+842583871122</p>
          </div>
          <div>
            <i class="bx bx-envelope"></i>
            <p>
              <a href="mailto:c2nhien.nt@khanhhoa.edu.vn"
                >c2nhien.nt@khanhhoa.edu.vn</a
              >
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 footer-right">
          <p class="footer-company-about">
            <span>Về trường học</span> Trường THCS Nguyễn Hiền, thành lập năm
            1975, là sự kết hợp của hai trường Phước Hải số 1 và số 2. Đặt tại
            Nha Trang, trường có diện tích 3461 m2 với 25 phòng học. Từ ngày
            đầu, trường đã xây dựng uy tín với đội ngũ giáo viên chuyên nghiệp
            và tận tâm. Với 96 cán bộ, giáo viên và nhân viên, trường không
            ngừng nâng cao chất lượng giáo dục, áp dụng công nghệ thông tin
            trong giảng dạy và quản lý, đồng thời phát triển cơ sở vật chất để
            cải thiện hiệu quả giảng dạy và học tập.
          </p>

          <div class="footer-icons">
            <a href="#" style="background-color: #3b5998"
              ><i class="fa fa-facebook"></i>
            </a>
            <a href="#" style="background-color: #55acee"
              ><i class="fa fa-twitter"></i
            ></a>
            <a href="#" style="background-color: #0976b4"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a href="#" style="background-color: #b7242a"
              ><i class="fa fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
