<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
  <head lang="en">
    <meta charset="UTF-8" />
    <!-- Bootstrap core CSS -->
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon" />
    <link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet" />
    <!----======== CSS ======== -->
    <link th:href="@{/assets/dist/css/style.css}" rel="stylesheet" />

    <link th:href="@{/fontawesome-v6.1.1/css/all.css}" rel="stylesheet" />
    <title>QUẢN LÝ THIẾT BỊ</title>
  </head>
</div>
