<div xmlns:th="http://www.thymeleaf.org" th:fragment="slidebar">
  <body>
    <nav class="sidebar" id="sidebar-id">
      <header id="header">
        <div class="image-text">
          <span class="image">
            <img th:src="@{/images/logo2.png}" alt="" />
          </span>

          <div class="text logo-text">
            <span class="name mr-5"> THCS Nguyễn Hiền</span>
            <span class="profession">Quản Lý Thiết Bị</span>
          </div>
        </div>
        <i class="fa-solid fa-chevron-right toggle"></i>
        <i
          class="fa-solid fa-bars menu-icon"
          id="menu-btn"
          style="display: none"
        ></i>
      </header>

      <div class="menu-bar">
        <div class="menu" id="menu-contain">
          <ul class="menu-links">
            <li class="nav-link">
              <a
                th:class="${navigation=='home'} ? 'active' : 'notactive'"
                th:href="@{/home}"
              >
                <i class="fa-solid fa-house icon"></i>
                <span class="text nav-text">Trang Chủ</span>
              </a>
            </li>
            <li class="nav-link">
              <a
                th:class="${navigation=='device_detail'} ? 'active' : 'notactive'"
                th:href="@{/device_detail}"
              >
                <i class="fas fa-laptop-house icon"></i>
                <span class="text nav-text">Phòng - Thiết Bị</span>
              </a>
            </li>
            <li class="nav-link">
              <a
                th:class="${navigation=='device_type'} ? 'active' : 'notactive'"
                th:href="@{/device_type}"
              >
                <i class="fa-solid fa-people-roof icon"></i>
                <span class="text nav-text">Loại Thiết Bị</span>
              </a>
            </li>
            <li class="nav-link">
              <a
                th:class="${navigation=='device_list'} ? 'active' : 'notactive'"
                th:href="@{/device_list}"
              >
                <i class="fas fa-hdd icon"></i>
                <span class="text nav-text">Thiết Bị</span>
              </a>
            </li>
            <li class="nav-link">
              <a
                th:class="${navigation=='class'} ? 'active' : 'notactive'"
                th:href="@{/class}"
              >
                <i class="fas fa-atlas icon"></i>
                <span class="text nav-text">Lớp</span>
              </a>
            </li>
            <li class="nav-link">
              <a
                th:class="${navigation=='bill'} ? 'active' : 'notactive'"
                th:href="@{/bill}"
              >
                <i class="fa-solid fa-file-invoice icon"></i>
                <span class="text nav-text">Thống Kê</span>
              </a>
            </li>
            <li th:if="${permission=='admin'}" class="nav-link">
              <a
                th:class="${navigation=='administration'} ? 'active' : 'notactive'"
                th:href="@{/administration}"
              >
                <i class="fa-solid fa-user-gear icon"></i>
                <span class="text nav-text">Quản Trị</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <ul>
            <li id="acc-setting">
              <a>
                <i class="fa-solid fa-user icon"></i>
                <span class="text nav-text" th:text="${info}"></span>
              </a>
              <div class="sp-nav"></div>
              <ul class="subnav" id="change-pass">
                <li>
                  <a th:onclick="showFormChangePass()">&nbsp Đổi Mật Khẩu</a>
                </li>
              </ul>
            </li>
            <li class="">
              <a th:href="@{/logout}">
                <i class="fa-solid fa-arrow-right-from-bracket icon"></i>
                <span class="text nav-text">Đăng Xuất</span>
              </a>
            </li>
            <li class="mode">
              <div class="sun-moon">
                <i class="fa-solid fa-moon bx icon moon"></i>
                <i class="fas fa-sun bx icon sun"></i>
              </div>
              <span class="mode-text text">Dark mode</span>
              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal" id="js-modal-ed">
      <div class="modal-container js-modal-ed-contain">
        <div class="modal-close js-modal-ed-close">
          <i class="fa-solid fa-xmark"></i>
        </div>

        <header class="modal-header">Đổi Mật Khẩu</header>
        <div class="modal-body">
          <form th:action="@{/administration/changepass}" method="post">
            <label class="modal-lable"> Mật Khẩu Hiện Tại </label>
            <input
              name="currentpass"
              type="password"
              class="modal-ip"
              placeholder="Nhập Mật Khẩu Hiện Tại"
            />
            <label class="modal-lable"> Mật Khẩu Mới </label>
            <input
              name="newpass"
              type="password"
              class="modal-ip"
              placeholder="Nhập Mật Khẩu Mới"
            />
            <label class="modal-lable"> Xác Nhận Mật Khẩu Mới </label>
            <input
              name="retypepass"
              type="password"
              class="modal-ip"
              placeholder="Nhập Mật Khẩu Mới"
            />
            <button class="btn-modal">THÊM</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</div>
