<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
  </head>
  <style>
    .disable-ip {
      cursor: default;
      background-color: #e8e7e7;
      border-color: rgba(118, 118, 118, 0.3);
    }

    .ip-form {
      border: 1px solid #ccc;
      width: 100%;
      padding: 10px;
      font-size: 15px;
      margin-bottom: 24px;
    }

    .form-contain {
      margin-left: 8.5% !important;
      padding: 14px 0px;
      border-style: ridge;
    }

    .btn-add {
      margin-left: 8.5%;
      margin-top: 24px;
    }
  </style>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/slidebar :: slidebar}"></div>
    <section class="home">
      <div id="toast" th:class="${message}"></div>
      <div class="text">Quản Trị</div>
      <div class="container mt-2">
        <div class="form-contain row col-10" style="color: var(--text-color)">
          <form th:object="${NhanVien}" method="post">
            <input
              type="hidden"
              th:field="*{maNV}"
              id="ip-maNV"
              class="ip-form"
            />
            <div class="row">
              <div class="col-6">
                Họ tên
                <input
                  type="text"
                  th:field="*{hoTenNV}"
                  class="ip-form disable-ip"
                  required="required"
                  id="ip-tenNV"
                  placeholder="Vui Lòng Nhập Họ Tên"
                  readonly="true"
                />
              </div>
              <div class="col-6">
                CMND
                <input
                  type="text"
                  th:field="*{cmnd}"
                  class="ip-form disable-ip"
                  required="required"
                  id="ip-cmnd"
                  placeholder="Vui Lòng Nhập CMND"
                  readonly="true"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                SDT
                <input
                  type="text"
                  th:field="*{sdt}"
                  class="ip-form disable-ip"
                  required="required"
                  id="ip-sdt"
                  placeholder="Vui Lòng Nhập SDT"
                  readonly="true"
                />
              </div>
              <div class="col-6">
                Email
                <input
                  type="text"
                  th:field="*{email}"
                  class="ip-form disable-ip"
                  required="required"
                  id="ip-Email"
                  placeholder="Vui Lòng Nhập Tên Loại"
                  readonly="true"
                />
              </div>
            </div>
            <label> Tên Tài Khoản </label>
            <input
              type="text"
              th:field="*{TaiKhoan.id}"
              required="required"
              class="ip-form disable-ip"
              id="ip-taikhoan"
              placeholder="Vui Lòng Tài Khoản"
              readonly="true"
            />
            <button
              id="btnsave-nv"
              name="btnadd"
              class="btn-modal"
              style="background: gray"
              disabled
            >
              THÊM
            </button>
          </form>
        </div>
        <button class="btn-add btn btn-primary" onclick="enableForm()">
          <i class="fa-solid fa-plus"></i> THÊM
        </button>
        <div class="d-flex justify-content-center align-items-center mt-2">
          <div class="row col-lg-10 contain-table">
            <table class="table" id="tb1">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên</th>
                  <th scope="col">CMND</th>
                  <th scope="col">SĐT</th>
                  <th scope="col">Email</th>
                  <th scope="col">Tài Khoản</th>
                  <th scope="col">Sửa</th>
                  <th scope="col">Reset</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="pd, i : ${listNV}" th:id="${pd.maNV}">
                  <td th:text="${i.index+1}"></td>
                  <td th:text="${pd.hoTenNV}"></td>
                  <td th:text="${pd.cmnd}"></td>
                  <td th:text="${pd.sdt}"></td>
                  <td th:text="${pd.email}"></td>
                  <td th:text="${pd.taiKhoan.id}"></td>
                  <td><i class="editbtn fa-solid fa-pen-to-square"></i></td>
                  <td>
                    <a th:href="@{'/administration/resetpass_id=' + ${pd.maNV}}"
                      ><i class="fas fa-repeat"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <script th:src="@{/assets/dist/js/script.js}"></script>
    <script th:inline="javascript">
      // toast thông báo
      document.addEventListener("DOMContentLoaded", (event) => {
        var tb = document.getElementById("toast");
        var action = /*[[${action}]]*/ "default";
        var message = /*[[${message}]]*/ "info";
        if (tb.classList.contains("success")) {
          showtoast({
            title: "Thành công!",
            message: action + " thành công.",
            type: "success",
            duration: 3000,
          });
        } else if (tb.classList.contains("error")) {
          showtoast({
            title: "Lỗi!",
            message: action + " thất bại.",
            type: "error",
            duration: 3000,
          });
        }
      });
      function enableForm() {
        let ds = document.getElementsByClassName("ip-form");
        for (let t of ds) {
          t.removeAttribute("readonly");
          t.classList.remove("disable-ip");
          t.value = null;
        }
        document.getElementById("btnsave-nv").removeAttribute("disabled");
        document.getElementById("btnsave-nv").style.background = "#009688";
        document.getElementById("btnsave-nv").setAttribute("name", "btnadd");
        document.getElementById("btnsave-nv").innerHTML = "Thêm";
      }
      // load dữ liệu lên modal khi ấn edit
      var editbtn = document.getElementsByClassName("editbtn");
      var table = document.getElementById("tb1");

      for (let index = 0; index < editbtn.length; index++) {
        editbtn[index].onclick = function () {
          enableForm();
          document
            .getElementById("btnsave-nv")
            .setAttribute("name", "btn-save-edit");
          document.getElementById("btnsave-nv").innerHTML = "Lưu Chỉnh Sửa";
          document.getElementById("ip-maNV").value =
            table.rows[index + 1].getAttribute("id");
          document.getElementById("ip-tenNV").value =
            table.rows[index + 1].cells[1].innerHTML;
          document.getElementById("ip-cmnd").value =
            table.rows[index + 1].cells[2].innerHTML;
          document.getElementById("ip-sdt").value =
            table.rows[index + 1].cells[3].innerHTML;
          document.getElementById("ip-Email").value =
            table.rows[index + 1].cells[4].innerHTML;
          document.getElementById("ip-taikhoan").value =
            table.rows[index + 1].cells[5].innerHTML;
          document
            .getElementById("ip-taikhoan")
            .setAttribute("readonly", "true");
        };
      }
    </script>
  </body>
</html>
