<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::Layout(~{::title}, ~{::section})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Note</title>
</head>
<body>
	<section class="custom_section page-wrapper"
		style="font-family: 'Montserrat'">
		<div class="container" style="max-width: 50%;">
			<div class="row">
				<div class="card">
					<div class="card-header text-center">
						<h3 class="font-weight-light text-center text-lg-left mt-4 mb-4"
							style="color: royalblue; font-weight: bold; text-transform: uppercase;">Ghi
							chú mới</h3>
					</div>
					<div class="card-body">
						<form th:object="${note}" method="post" th:action="@{/saveNote}">
							<div class="form-group mt-1">
								<input class="input--style-4 form-control rounded-2 border-0"
									id="note-header-ta" type="text" name="note-header"
									th:field="*{header}" placeholder="Tiêu đề" required>
							</div>

							<div class="form-group mt-3">
								<div class="rs-select2 col-12">
									<select name="state" id="noteStateSelect"
										class="select input--style-4">
										<option th:each="state : ${states}" th:value="${state}"
											th:text="${state.stateAsString}"></option>
									</select>
									<div class="select-dropdown"></div>
								</div>
							</div>

							<div class="form-group mt-3">
								<textarea class="input--style-4 form-control rounded-2 border-0"
									id="note-body-ta" rows="5" th:field="*{body}"
									placeholder="Tạo ghi chú..."></textarea>
							</div>

							<button class="btn success_button mt-3">Lưu</button>
							<button class="btn cancel_button mt-3">Quay lại</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>