<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::Layout(~{::title}, ~{::section})}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng Nhập</title>
</head>
<body>
	<section class="signup">
		<div class="container">
			<form class="form">
				<p class="title">Đăng Nhập</p>
				<label> <input required="" placeholder="" type="email"
					class="input" /> <span>Email</span>
				</label> 
				<label> <input required="" placeholder="" type="password"
					class="input password" /> <span>Mật khẩu</span> <i
					class="fa fa-eye toggle-password"></i>
				</label> 
				<button>
					Đăng Nhập
					<div class="arrow-wrapper">
						<div class="arrow"></div>
					</div>
				</button>
				<p class="signin">
					Chưa có tài khoản ? <a th:href="@{register}"
						style="text-decoration: none">Đăng ký</a>
				</p>
			</form>
		</div>
	</section>
</body>
</html>
