<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::Layout(~{::title}, ~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Đăng Ký</title>
</head>
<body>
	<section class="signup">
		<div class="container">
			<form class="form">
				<p class="title">Đăng Ký</p>
				<p class="message">Đăng ký ngay và nhận quyền truy cập đầy đủ
					vào website của chúng tôi.</p>
				<div class="flex">
					<label> <input required="" placeholder="" type="text"
						class="input" /> <span>Họ</span>
					</label> 
					<label> <input required="" placeholder="" type="text"
						class="input" /> <span>Tên</span>
					</label>
				</div>
				<div class="flex">
					<label> <input required="" placeholder="" type="email"
						class="input" /> <span>Email</span>
					</label>
					<label>
						<select required="" class="input select">
							<option value="">Tuổi</option>
							<option 
								th:each="age : ${ages}" 
								th:value="${age}" 
								th:text="${age}">
							</option>
						</select>
					</label>
				</div>
				<label> <input required="" placeholder="" type="text"
					class="input" /> <span>Địa chỉ</span>
				</label> 
				<label> <input required="" placeholder="" type="password"
					class="input password" /> <span>Mật khẩu</span> <i
					class="fa fa-eye toggle-password"></i>
				</label> 
				<label> <input required="" placeholder="" type="password"
					class="input" /> <span>Xác nhận mật khẩu</span>
				</label>
				<button>
					Đăng Ký
					<div class="arrow-wrapper">
						<div class="arrow"></div>
					</div>
				</button>
				<p class="signin">
					Đã có tài khoản ? <a th:href="@{login}"
						style="text-decoration: none">Đăng nhập</a>
				</p>
			</form>
		</div>
	</section>
</body>
</html>
