<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::Layout(~{::title}, ~{::section})}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng Nhập</title>

</head>
<body>
	<section class="signup page-wrapper font-poppins">
		<div class="wrapper wrapper--w680">
			<div class="container signup_card sucard-4" style="min-width:200px;">
				<div class="card-body">
					<h2 class="title">Đăng Nhập</h2>
					<div class="text-danger" th:if="${param.error}">Tên đăng nhập hoặc mật khẩu không chính xác.</div>
					<div class="text-danger" th:if="${param.logout}">Bạn đã đăng xuất.</div>
					<form th:action="@{/userLogin}" method="post">
						<div class="input-group">
							<label class="label">Email</label> <input class="input--style-4"
								required="required" type="email" name="username">
						</div>
						<div class="input-group">
							<label class="label">Mật khẩu</label> <input
								class="input--style-4" required="required" type="password"
								name="password"> <i
								class="fa fa-eye-slash toggle-password"
								style="position: absolute; top: 70%; right: 13px; transform: translateY(-50%);"></i>
						</div>
						<button class="btn_signup">
							Đăng Nhập
							<div class="arrow-wrapper">
								<div class="arrow"></div>
							</div>
						</button>
						<p class="signin">
							Bạn chưa có tài khoản? <a th:href="@{/register}"
								style="text-decoration: none">Đăng ký</a>
						</p>
					</form>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
